<div class="footer">

    <div class="bottom-bar">

        <div class="bottom-bar-col-left">

            <div class="bottom-bar-item">&copy; Copyright 2014-2017 Mission Inn Resort & Club</div>

            <div class="bottom-bar-item">Privacy Statement</div>

            <div class="bottom-bar-item">Terms & Conditions</div>

        </div>

        <div class="bottom-bar-col-right">

            <div class="bottom-bar-item">Site developed by Fifth Gear</div>

        </div>

    </div>

</div>