<div class="section-card">

    <img class="section-card-background" src="/wp-content/uploads/2017/12/background-waterfall.jpg">

    <div class="section-card-container">

        <div class="section-card-row top">

            <div class="section-card-col card">
                <img class="section-card-logo" src="/wp-content/uploads/2017/12/logo-el-campeon-golf-florida.gif">
                <div class="section-card-title">El Campeón</div>
                <div class="section-card-body">One of the South's oldest card courses. Blends unusual Central Florida elevation changes of more than 85 feet with features of traditional card design, including spectacular rolling fairways and undulating greens.</div>
                <div class="section-card-button-container">
                    <a class="section-card-button left" href="/golf/mission-inn-public-tee-times.html">book a tee time</a>
                    <a class="section-card-button right" href="">learn more</a>
                </div>
            </div>

            <div class="section-card-col">
                <img class="section-card-image" src="/wp-content/uploads/2017/12/home-el-campeon-golf-course-florida.gif">
            </div>
        </div>
        <div class="section-card-row bottom">

            <div class="section-card-col">
                <img class="section-card-image" src="/wp-content/uploads/2017/12/home-las-colinas-golf-course-florida.jpg">
            </div>

            <div class="section-card-col card">
                <img class="section-card-logo" src="/wp-content/uploads/2017/12/logo-las-colinas-golf-florida.gif">
                <div class="section-card-title">Las Colinas</div>
                <div class="section-card-body">An inland links design with generous, wide-open fairways, gentle rolling hills and large, undulating greens. Signature hole, "Alligator Alley" (#12), spans 493 yards along a tree-lined fairway and requires absolute accuracy from tee-to-green.</div>
                <div class="section-card-button-container">
                    <a class="section-card-button left" href="/golf/mission-inn-public-tee-times.html">book a tee time</a>
                    <a class="section-card-button right" href="">learn more</a>
                </div>
            </div>

        </div>

    </div>

</div>