<div class="container introduction">

    <div class="row">

        <div class="col-md-12">
            <div class="introduction-title">Welcome to Mission Inn Resort & Club</div>
            <div class="introduction-subtitle">Florida’s Premier Golf Destination Resort</div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-6">

            <div class="introduction-container">
                <p>Less than an hour’s drive from Orlando, Mission Inn offers you an escape for a spectacular Central Florida golf vacation, a dream wedding, a romantic couples getaway, or your next corporate event.</p>

                <p>Along with worldclass golf on two championship courses, you can take in the vistas along our hiking paths, lounge poolside, play tennis and volleyball, or even try bass fishing and trap/skeet shooting.  There are countless ways to enjoy a memorable stay with us.</p>

            </div>

        </div>

        <div class="col-md-6">

            <div class="introduction-container">

                <p>Conveniently central to Central Florida's world famous theme parks, wineries, shopping and local attractions, Mission Inn Resort & Club also provides a refined home base for guests wishing to explore the Lake County area.</p>

                <p>Renowned for its picturesque rolling hills, orange groves and shimmering lakes, the area draws golf enthusiasts, fishermen and eco tourists who enjoy being surrounded by the region's expansive natural beauty.</p>

            </div>

        </div>

    </div>

</div>