<div class="section-card section-wedding">

    <img class="section-card-background" src="/wp-content/uploads/2017/12/background-bridge.jpg">

    <div class="section-card-container">

        <div class="section-card-row top">

            <div class="section-card-col card">
                <div class="section-card-title">Your Dream Wedding</div>
                <div class="section-card-subtitle">We Specialize in “Happily Ever Afters”s</div>
                <div class="section-card-body">
                    <p>European inspired architecture and plazas provide stunning backdrops for picture perfect indoor or outdoor wedding ceremonies and receptions.</p>
                    <p>Each of our wedding couples has the luxury of their very own venue coordinator. As the liaison to the resort team, the coordinator works with our culinary and service staff to insure your day is flawless from start to finish.</p>
                </div>
                <div class="section-card-button-container">
                    <a class="section-card-button left" href="/golf/mission-inn-public-tee-times.html">book a tee time</a>
                    <a class="section-card-button right" href="">learn more</a>
                </div>
            </div>

            <div class="section-card-col">
                <img class="section-card-image" src="/wp-content/uploads/2017/12/home-weddings.jpg">
            </div>
        </div>
        <div class="section-card-row bottom">

            <div class="section-card-col">
                <img class="section-card-image" src="/wp-content/uploads/2017/12/home-groups-events.jpg">
            </div>

            <div class="section-card-col card">
                <div class="section-card-title">Group Events</div>
                <div class="section-card-subtitle">The Ultimate Gathering Place...</div>
                <div class="section-card-body">
                    <p>We offer ample function space for corporate or private groups of 20 to 400 people within our 1,100 acre property.</p>
                    <p>Two large ballrooms and a variety of meeting spaces allow for general session keynote speakers or intimate strategic breakouts. We also offer numerous restaurant and dining options with seating for up to 200 guests.</p>
                </div>
                <div class="section-card-button-container">
                    <a class="section-card-button left" href="/golf/mission-inn-public-tee-times.html">book a tee time</a>
                    <a class="section-card-button right" href="">learn more</a>
                </div>
            </div>

        </div>

    </div>

</div>